@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

@layer base {
  * {
    @apply antialiased;
  }
  body {
    scroll-behavior: smooth;
    font-family: "Monserrat", sans-serif;
  }
}

.container-lg {
  max-width: 1675px;
}
.container-md {
  max-width: 1640px;
}
.container-sm {
  max-width: 1120px;
}

.container-md,
.container-lg,
.container-sm {
  @apply mx-auto w-full;
}
